graft src/wirecloud
include src/settings.py
include src/manage.py
include src/generate_webpack_settings.py
include README.md

global-exclude __pycache__/*
global-exclude *.py[cod]
global-exclude .DS_Store
