<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xml:lang="{{ LANGUAGE_CODE }}"
      lang="{{ LANGUAGE_CODE }}">
<head>
    <title>{% block title %}{{ trans("WireCloud Platform") }}{% endblock %}</title>

    {% block meta %}
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <link rel="shortcut icon" type="image/x-icon" href="{{ static("images/favicon.ico") }}" />
    {% endblock %}

    {% block css %}
        <link rel="stylesheet" href="{{ static("css/cache.css") }}">
        {% block extra_css %}{% endblock %}
    {% endblock %}

    {% block bootstrap %}
        {{ wirecloud_bootstrap(VIEW_MODE, true)|safe }}
    {% endblock %}

    {% block extra_scripts %}{% endblock %}
</head>

<body>
    <div id="wirecloud_header">
        <div class="menu_wrapper"><div class="menu"><div id="wc-user-menu"></div></div></div>

        <div class="logo_wrapper">
            <img src="{{ static("images/logos/header.png") }}" alt="WireCloud" />
            <div>
                <div>
                    <h2 class="fiware_title"><span>FI</span>WARE</h2>
                    <h2 class="fiware_subtitle">WireCloud Mashup Platform</h2>
                </div>
            </div>
        </div>

        <div class="wirecloud_app_bar"><div class="se-input-group se-input-group-lg wirecloud_header_nav"><span id="wirecloud_breadcrum" class="breadcrum se-add-on">{% block path %}{% endblock %}</span></div></div>

    </div>

    <div class="plain_content">
    {% block content %}
    {% endblock %}
    </div>
    {% include "wirecloud/views/footer.html" %}
</body>
</html>
