@use 'variables';
@use 'styledelements/input_mixins';

.se-code-area {
    @include input_mixins.input-base();
    display: block;
    height: 25em;
    width: 100%;
    overflow: hidden;
}

.se-code-area.focused {
    @include input_mixins.input-focus();
}