{% extends 'wirecloud/views/wirecloud/views/base_plain.html' %}
{% block path %}{{ trans("error401") }}{% endblock %}
{% block content %}
    <h1>{% block title %}{{ trans("Error 401 - Unauthorized") }}{% endblock %}</h1>
    <p>{{ trans("This server could not verify that you are authorized to access the document you requested (%(request_path)s). Either you supplied the wrong credentials (e.g., bad password), or your browser/application does not understand how to supply the credentials required.{% endblocktrans", request_path=request_path) }}</p>
    <p>{{ trans("Authentication required") }}</p>
{% endblock %}
