{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <title>{% block title %}{{ trans("WireCloud Platform") }}{% endblock %}</title>

    {% block meta %}
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8" />
    <meta name="google" value="notranslate" />
    <link rel="shortcut icon" type="image/x-icon" href="{{ static("images/favicon.ico") }}" />
    {% endblock %}

    {% block css %}
        <link rel="stylesheet" href="{{ static("css/cache.css") }}">
        {% block extra_css %}{% endblock %}
    {% endblock %}

    {% block bootstrap %}
        {{ wirecloud_bootstrap(VIEW_MODE, true)|safe }}
    {% endblock %}

    {% block extra_scripts %}{% endblock %}
</head>

<body>
    <header id="wirecloud_header">
        <div class="menu_wrapper"><div class="menu"><div id="wc-user-menu"></div></div></div>
        <div class="wirecloud_app_bar"><img src="{{ static("images/logos/header.png") }}" alt="WireCloud" /><div class="se-input-group se-input-group-lg wirecloud_header_nav"><span id="wirecloud_breadcrum" class="breadcrum se-add-on">{% block path %}{% endblock %}</span></div></div>
    </header>
    <div class="plain_content">
    {% block content %}
    {% endblock %}
    </div>
    {% block footer %}
        {% include "wirecloud/views/footer.html" %}
    {% endblock %}
</body>
</html>
